<div class="container inputField">
<h2>{{title}}</h2>

<form id="findItem table" >
  <div>
    <input type="text" class="required" ng-model="item.name" placeholder="name" required/>
    <i class="fa fa-asterisk"></i>
  </div>

  <div>
    <input type="number" class="required" ng-model="item.quantity" placeholder="QTY" required/>
    <i class="fa fa-asterisk"></i>
  </div>

    <div><input type="number" placeholder="cost" ng-model="item.cost"/></div>


    <div class="hasBeenPlaced">
      <input type="checkbox" ng-model="friend.hasBeenPopulated" value="hasBeenPlaced"> Has Been Populated
      <i class="fa fa-asterisk"></i>
    </div>

    <button type="submit" ng-click="addItem()">Add Item</button>
  </form>

  <!--<div class="newFriendBox infoBox">-->
    <!--<div> New Friend Added! {{newFriend}}</div>-->
    <!--<div> Name: {{newFriend.name}} {{newFriend.gender}} </div>-->
    <!--<div> Species: {{newFriend.species}} - {{newFriend.variety}} </div>-->
    <!--<div>{{newFriend.isAvailable}} </div>-->
  <!--</div>-->


  <div class="row petDisplay">
      <div ng-repeat="item in allItems  | filter: item"  class ="infoBox span1" ng-click="receiveClick(this)">
      <!--TODO: repeat over all keys and show key and key value-->
      <!--TODO: get image and show-->
        <div> Name: {{item.name}} {{item.quantity}} </div>
        <div> Cost: {{item.cost}} </div>
        <div>{{item.hasBeenPlaced}} </div>
        <button ng-show="reveal(this)" ng-click="selectItemToPopulate($event, item)">Populate</button>
    </div>
  </div>
</div>
