<div class="container inputField">
<h2>{{title}}</h2>

<form id="findRooms table" >
  <div>
    <input type="text" class="required" ng-model="room.name" placeholder="name" required/>
    <i class="fa fa-asterisk"></i>
  </div>



  <button type="submit" ng-click="addRoom()">Add Room</button>
  </form>

  <div class="row petDisplay">
    <div ng-repeat="room in allRooms  | filter: room"  class ="infoBox span1" ng-click="receiveClick(this)" >
      <!--TODO: repeat over all keys and show key and key value-->
      <!--TODO: get image and show-->
      <div> Name: {{room.name}} </div>
      <div> Phone: {{room.phone}} </div>
        <div ng-repeat="item in room.items" class="members">
          <div>Name: {{item.name}}</div>
          <div>QTY: {{item.quantity}}</div>
        </div>
      <button ng-show="reveal(this)" ng-click="addItemToRoom($event, room)">Place Item</button>
    </div>
  </div>

  <div class="potentialMatch" ng-show="isSelectingItem()">
    <div class="newFriendBox infoBox">
      <div>Pick a room for the following item...{{noItem}}</div>
      <div> Name: {{item.name}} {{item.quantity}} </div>
      <div> Cost: {{item.cost}} Total: {{item.cost}} * {{item.quantity}} </div>
      <div>{{item.hasBeenPlaced}} </div>
      <button ng-click="cancelMatch()" value="cancel">Cancel Match</button>
    </div>
  </div>

</div>



