body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/boring.png");
  background-size:  auto auto;
}

.panel {
  background-color: #FFF5EE;
}
.infoBox {
  border: 1px solid lightgrey;
  padding: 15px;
  background-color: aliceblue;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


